*{
    margin: 0px;
    padding: 0px;
}

.head{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.choises{
    display: flex;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
}

.choice{
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

img{
    border-radius: 50%;
    height: 190px;
    width: 190px;
}

.choice:hover{
    background-color: black;
    cursor: pointer;
    opacity: 90%;
}

.firstsec{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.secsec{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    margin-bottom: 20px;
}
#u{
    position: relative;
    left: 20px;
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: blue;
    color: white;
    height: 80px;
    width: 70%;
    border-radius: 25px;
}
.heading,.scoreboard,.scoreboard2{
    display: flex;
    align-items: center;
    justify-content: center;
}
